
.travis.yml
example/.vs/example/v15/.suo
example/.vs/example/v15/Solution.VC.db
example/.vs/example/v15/Solution.VC.db-shm
example/.vs/example/v15/Solution.VC.db-wal
example/bin/example_debug.exe
example/bin/example_debug.exp
example/bin/example_debug.ilk
example/bin/example_debug.lib
example/bin/example_debug.pdb
example/bin/fmodex.dll
example/bin/fmodexL.dll
example/bin/FreeImage.dll
example/example.sln
example/example.vcxproj
example/example.vcxproj.filters
example/example.vcxproj.user
example/icon.rc
example/obj/Win32/Debug/example.log
example/obj/Win32/Debug/example.tlog/CL.command.1.tlog
example/obj/Win32/Debug/example.tlog/CL.read.1.tlog
example/obj/Win32/Debug/example.tlog/CL.write.1.tlog
example/obj/Win32/Debug/example.tlog/example.lastbuildstate
example/obj/Win32/Debug/example.tlog/example.write.1u.tlog
example/obj/Win32/Debug/example.tlog/link.command.1.tlog
example/obj/Win32/Debug/example.tlog/link.read.1.tlog
example/obj/Win32/Debug/example.tlog/link.write.1.tlog
example/obj/Win32/Debug/example.tlog/rc.command.1.tlog
example/obj/Win32/Debug/example.tlog/rc.read.1.tlog
example/obj/Win32/Debug/example.tlog/rc.write.1.tlog
example/obj/Win32/Debug/icon.res
example/obj/Win32/Debug/main.obj
example/obj/Win32/Debug/ofApp.obj
example/obj/Win32/Debug/ofxHistoryPlot.obj
example/obj/Win32/Debug/vc141.pdb
